.option {
    width: 300px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid dodgerblue;
    border-radius: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 10px;
}

.option:hover {
    background-color: burlywood;
}


/* For small device  */

@media only screen and (max-width: 600px) {
    .option {
        width: 250px;
        height: 120px;
        border: 2px solid dodgerblue;
        border-radius: 10px;
        font-weight: 500;
        display: flex;
        align-items: center;
        padding: 10px;
    }
}


/* For medium device  */

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .option {
        width: 250px;
        height: 120px;
    }
}