.topic {
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 8px;
    background-color: white;
}

.logo {
    width: 200px;
    height: 200px;
    background-color: rgb(197, 224, 233);
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.zero-margin {
    margin: 0;
}

.btn-start {
    border: none;
    border-radius: 5px;
    background-color: indianred;
}