.topic {
    border-radius: 10px;
    width: fit-content;
    padding: 8px;
    background-color: white;
    margin: 0 auto;
}

.logo {
    width: 200px;
    height: 200px;
    background-color: rgb(197, 224, 233);
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zero-margin {
    margin: 0;
}

.btn-start {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: indianred;
}