.heading {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(241, 180, 65);

}

.heading-image {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.heading div {
    margin: auto 0;
}

.topic-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.topic-section-image {
    width: 100%;
}

.topic-body {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}